* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00000a;
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadeInFromLeft {
  0% {
    width: 0%;
    transform: translateX(-10%);
  }
  100% {
    width: 100%;
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
}
.start {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.625rem 10%;
}
.header__logo {
  color: #0d69f2;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
}
.header__logo--decoration {
  color: #ffd60a;
}
.header__name {
  text-decoration: none;
  color: #0d69f2;
}
.header__name::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ffd60a;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.8s;
}
.header__name:hover::after {
  width: 100%;
}
.header__navbar {
  display: flex;
  gap: 1rem;
}
.header__link {
  text-decoration: none;
  font-size: 1.5rem;
  color: #0d69f2;
  position: relative;
}
.header__link::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ffd60a;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.4s;
}
.header__link:hover::after {
  width: 100%;
}

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 90px;
}
.hero__title {
  position: relative;
  font-size: 7rem;
  letter-spacing: 0.25rem;
  color: white;
  animation: fadeIn 3s;
}
.hero__title::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #ffd60a;
  position: absolute;
  left: 0;
  bottom: 5px;
  animation: 2s ease-out 0s 1 fadeInFromLeft;
}
.hero__subtitle {
  padding-top: 0.5rem;
  color: #d0d0d0;
  letter-spacing: 0.25rem;
  font-size: 1.5rem;
}

.stack {
  display: flex;
  gap: 1rem;
  padding-top: 2%;
}
.stack__tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.stack__icon {
  background-color: white;
  width: 5rem;
  border-radius: 1rem;
  box-shadow: 0 0 5px #ffd60a;
}
.stack__icon--padding {
  padding: 0.25rem;
}
.stack__title {
  color: #d0d0d0;
}

.arrow {
  text-align: center;
  padding-bottom: 30px;
}
.arrow__box {
  position: relative;
}

.arrow-down {
  border: solid #ffd60a;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 15px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  animation: MoveUpDown 2s linear infinite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00000a;
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadeInFromLeft {
  0% {
    width: 0%;
    transform: translateX(-10%);
  }
  100% {
    width: 100%;
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
}
.contact {
  background-color: #000814;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 4rem;
  gap: 2rem;
}
.contact__title {
  color: #0d69f2;
}
.contact__form {
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  gap: 0.5rem;
}
.contact__input, .contact__textarea {
  color: #003566;
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.25rem;
  border: none;
  outline-color: none;
  box-shadow: 0 0 5px #0d69f2;
}/*# sourceMappingURL=style.css.map */